* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    /*min-height: 100vh;*/
  }

  #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: lightyellow;
      border: 1px solid;
  }

  .column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .column1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .column2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .column3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .row {
      display: flex;
      flex-direction: row;
      width: 100px;
      height: 100px;
      background-color: white;
      border: 1px solid;
      justify-content: center;
      border-radius: 100%;
      align-items: center;
      margin: 10px;
  }

  #player1 {
    background-color: lightcoral;
  }

  #player2 {
    background-color: lightskyblue;
  }
/* 
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
 */

#column-filled {
    cursor: not-allowed;
}