* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*min-height: 100vh;*/
  }
  #title {
      align-items: center;
      display: flex;
      flex-direction: column;
  }
  #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: lightyellow;
      border: 1px solid;
  }

  .column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .column:hover {
      background-color: lightgoldenrodyellow;
  }

  /* .column1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .column2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .column3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  } */

  .row {
      display: flex;
      flex-direction: row;
      width: 100px;
      height: 100px;
      background-color: white;
      border: 1px solid;
      justify-content: center;
      border-radius: 100%;
      align-items: center;
      margin: 10px;
  }

  /* .row:hover {
    background-color: lightcoral;
  } */

  #player1 {
    background-color: lightcoral;
  }

  #player2 {
    background-color: lightskyblue;
  }

  #player1-ghost {
    background-color: lightcoral;
  }

  #player2-ghost {
    background-color: lightskyblue;
  }

/* 
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
 */

#column-filled {
    cursor: not-allowed;
}

#info {
    margin: 10px;
    padding: 10px;
}

.reset-button {
    background-color: white;
    border: 2px solid;
    border-color: coral;
    padding: 5px 15px 5px 15px;
    text-align: center;
    color: coral;
    font-size: large;
}

.reset-button:hover {
    background-color: coral;
    color: white;
}

h1 {
    color: coral;
}