* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /*min-height: 100vh;*/
    background-color: aliceblue;
  }

  nav {
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      justify-content: center;
      height: 60px;
  }


    h1 {
        color: black;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: .4rem;
    }

  nav > div {
      display: flex;
      margin: 10px;
      
  }

  #main {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: lightyellow;
      border: 1px solid;
      max-width: fit-content;
      margin-top: 20px;
      padding: 10px;
      border-radius: 3%;
  }

  .column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .column:hover {
      background-color: rgb(255, 241, 196);
  }

  .row {
      display: flex;
      flex-direction: row;
      width: 100px;
      height: 100px;
      background-color: rgb(246, 252, 255);
      border: 1px solid;
      justify-content: center;
      border-radius: 100%;
      align-items: center;
      margin: 10px;
  }

  /* .row:hover {
    background-color: lightcoral;
  } */

  #player1 {
    background-color: lightcoral;
  }

  #player2 {
    background-color: lightskyblue;
  }

  #player1-ghost {
    background-color: lightcoral;
  }

  #player2-ghost {
    background-color: lightskyblue;
  }

/* 
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
 */

#column-filled {
    cursor: not-allowed;
}

#info {
    margin: 10px;
    padding: 10px 20px 10px 20px;
}

#key {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin-bottom: 20px;
    padding: 10px;
    
}

#player {
    display: flex;
    flex-direction: row;
    padding: 5px;
    letter-spacing: .2rem;
}

#player-one {
    background-color: lightcoral;
    padding: 7px;
    margin: auto;
}

#player-two {
    background-color: lightskyblue;
    padding: 7px;
    margin: auto;
}

.reset-button {
    border: 2px solid;
    background-color: aliceblue;
    border-color: red;
    padding: 5px 15px 5px 15px;
    text-align: center;
    color: red;
    font-size: large;
    letter-spacing: .3rem;
    font-size: 15px;
    }

.reset-button:hover {
    background-color: red;
    color: white;
}

h2 {
    color: red;
}